*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header >nav{
    width: 100%;
    padding-top: 30px;
    padding-left: 135px;
    display: flex;
}

header nav .location{
    color: gray;
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 30px;
}

header nav .location:hover{
    p{
        color: black;
        transition: .5s;
    }
}

header nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 20px;
}

header nav ul img{
    width: 25px;
    height: 25px;
}

header nav ul li:hover{
    color: blueviolet;
    cursor: pointer;
    i{
        color: gray;
    }
}

header nav button{
    width: 130px;
    height: 50px;
    border-radius: 32px;
    color: white;
    background: rgb(0, 0, 58);
    border: none;
}

header nav button:hover{
    background: darkblue;
}

/* main */

main{
    width: 100%;
    padding-left: 135px;
    padding-top: 20px;
}

main img{
    width: 1232px;
    height: 205px;
    margin-top: 20px;
}

main .inp{
    width: 1232px;
    height: 70px;
    padding-top: 10px;
    padding-left: 20px;
    background: rgb(150, 150, 150);
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    position: relative;
}

main .inp .katalogs{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

main .inp .katalogs:hover{
    color: gray;
    transition: .3s;
}

main .inp input{
    width: 300px;
    height: 50px;
    margin-left: 20px;
    border: none;
    color: rgb(179, 179, 179);
    font-size: 20px;
    background: none;
    outline: none;
}

main .inp .qidir{
    width: 50px;
    height: 50px;
    background: blueviolet;
    border-radius: 6px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    right: 40px;
}

main .things{
    display: flex;
    width: 1190px;
    height: 200px;
    gap: 15px;
    padding-left: 21px;
    margin-top: 30px;
    margin-bottom: 50px;
}

main .things .div{
    width: 185px;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    background: gray;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

main .things .div:hover{
    background: rgb(171, 169, 169);
    border: 1px solid black;
}

main .things .div img{
    width: 160px;
    height: 150px;
    bottom: 0px;
    right: 0;
    position: absolute;
}

main h1{
    color: rgb(8, 0, 41);
}

main .things2{
    width: 1232px;
    height: 350px;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

main .things2 .div{
    width: 296px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

main .things2 .div:hover{
    cursor: pointer;
    img{
        opacity: 80%;
        transition: .5s;
    }
    h3{
        color: blueviolet;
        transition: .5s;
    }
}

main .things2 .div img{
    width: 100%;
    height: 200px;
    border-radius: 12px;
}

main .things2 .div h2{
    color: rgb(8, 0, 41);
    margin-top: 10px;
    margin-bottom: 15px;
}

main .things2 .div h3{
    color: rgb(32, 32, 32);
}

main .things2 .div p{
    color: gray;
    margin-top: 15px;
    font-size: 18px;
}

main .big-div{
    width: 1232px;
    height: 300px;
    background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSIzMjgiIHZpZXdCb3g9IjAgMCAxMjgwIDMyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMTMxNyAxMjAuMzQzYy03My0xNy4xMzQtMjc1Ljg0LTE3Ny42NjYtMzQxLTczLjM2Mi04MiAxMzEuMjUzLTEzMy41IDMyNS4zODktMjY5LjUgMjUzLjUyNC0xMzYtNzEuODY1LTE1OC0zNDYuODc1LTI4NS41LTIzOS41NUMyMjkuNSAyMjIuMTUyLTEyIDgyLjkxMy03NiAxOTIuMjA4IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMjQiLz4KPC9zdmc+) no-repeat center/cover;
    background-color: rgb(132, 0, 255);
    display: flex;
    border-radius: 12px;
    padding-top: 25px;
    padding-left: 25px;
    margin-bottom: 50px;
}

main .big-div .img{
    width: 300px;
    height: 300px;
}

main >.button{
    width: 180px;
    height: 60px;
    background-color: rgb(0, 0, 48);
    color: white;
    border-radius: 12px;
    border: none;
    margin: 50px 550px;
    cursor: pointer;
}

main >.button:hover{
    background-color: darkblue;
}

/* footer */

footer{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding-left: 100px;
    display: flex;
}

footer .lef{
    width: 600px;
}

footer ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

footer ul li:hover{
    color: blueviolet;
    transition: .5s;
    cursor: pointer;
}

footer .icons{
    display: flex;
    gap: 20px;
    font-size: 30px;
    color: darkblue;
    margin-top: 30px;
}

footer .icons i:hover{
    color: blueviolet;
    cursor: pointer;
    transition: .5s;
}

footer .right{
    width: 800px;
    padding-left: 100px;
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

footer .right h2{
    width: 250px;
    position: absolute;
    top: 0;
    right: 200px;
}

footer .img{
    display: flex;
    position: absolute;
    gap: 10px;
    bottom: 50px;
    right: 50px;
}