*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header >nav{
    width: 100%;
    padding-top: 30px;
    padding-left: 135px;
    display: flex;
}

header nav .location{
    color: gray;
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 30px;
}

header nav .location:hover{
    p{
        color: black;
        transition: .5s;
    }
}

header nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 20px;
}

header nav ul img{
    width: 25px;
    height: 25px;
}

header nav ul li:hover{
    color: blueviolet;
    cursor: pointer;
    i{
        color: gray;
    }
}

header nav button{
    width: 130px;
    height: 50px;
    border-radius: 32px;
    color: white;
    background: rgb(0, 0, 58);
    border: none;
}

header nav button:hover{
    background: darkblue;
}

/* main */

main{
    width: 100%;
    padding-left: 135px;
    padding-top: 20px;
}

main img{
    width: 1232px;
    height: 205px;
    margin-top: 20px;
}

main .inp{
    width: 1232px;
    height: 70px;
    padding-top: 10px;
    padding-left: 20px;
    background: rgb(150, 150, 150);
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    position: relative;
}

main .inp .katalogs{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

main .inp .katalogs:hover{
    color: gray;
    transition: .3s;
}

main .inp input{
    width: 300px;
    height: 50px;
    margin-left: 20px;
    border: none;
    color: rgb(179, 179, 179);
    font-size: 20px;
    background: none;
    outline: none;
}

main .inp .qidir{
    width: 50px;
    height: 50px;
    background: blueviolet;
    border-radius: 6px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    right: 40px;
}

main .things{
    display: flex;
    width: 1190px;
    height: 200px;
    gap: 15px;
    padding-left: 21px;
    margin-top: 30px;
    margin-bottom: 50px;
}

main .things .div{
    width: 185px;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    background: gray;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

main .things .div img{
    width: 160px;
    height: 150px;
    bottom: 0px;
    right: 0;
    position: absolute;
}

main h1{
    color: rgb(8, 0, 41);
}

main .things2{
    width: 1232px;
    height: 350px;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

main .things2 .div{
    width: 296px;
    height: 300px;
    border: 1px solid red;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

main .things2 .div img{
    width: 100%;
    height: 160px;
    border-radius: 12px;
}